body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.greetings {
  font-weight: 800;
  margin-bottom: 1em;
  margin-top: 1em;
}
.nice-form {
  margin: 1em;
  background-color: rgb(245, 244, 243);
}
.form-row {
  display: flex;
  padding-left: 1em;
  padding-bottom: 0.5em;
}
.label-field {
  padding-right: 1em;
  font-weight: 600
}

.base-input {
  border-width: 0.15em;
  border-left-style: solid;
  border-left-width: 0.5em;
  border-radius: 0.3em;
  flex:1;
}
.base-input:invalid {
  border-color: rgb(255, 81, 0);
}

.base-input:valid {
  border-color: rgb(72, 255, 0);
}

.error-message {
  color: red;
}